.about__wrapper {
  margin: 0 auto;
  padding: 40px 0;

  @media (min-width: $tablet) {
    position: relative;
    text-align: center;
    padding: 60px 45px 120px;
  }

  @media (min-width: $desctop) {
    display: flex;
    gap: 145px;
    text-align: start;
    padding: 118px 103px 240px;
  }
}

.about__text-block {
  padding: 0 15px;

  @media (min-width: $desctop) {
    width: 355px;
    padding: 0;
  }
}

.about__title {
  margin-bottom: 12px;

  @media (min-width: $tablet) {
    margin-bottom: 20px;
  }

  @media (min-width: $desctop) {
    margin-bottom: 25px;
  }
}

.about__subtitle {
  font-family: $roboto-condensed-regular;
  font-weight: 400;
  font-size: 18px;
  line-height: 111%;
  margin: 0 0 36px;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 100%;
  }

  @media (min-width: $desctop) {
    font-size: 22px;
    margin: 0 0 94px;
  }
}

.about__desc {
  margin: 0 0 36px;

  @media (min-width: $tablet) {
    width: 502px;
    margin: 0 auto 36px;
  }

  @media (min-width: $desctop) {
    margin: 0;
    width: auto;
  }
}

.about__desc-extra {
  display: none;
  margin: 8px 0 0;

  @media (min-width: $desctop) {
    display: block;
  }
}

.about__image {
  display: block;
  margin-bottom: 36px;

  @media (min-width: $tablet) {
    margin-bottom: 0;
  }
}

.about__video {
  position: relative;
  width: 320px;
  height: 170px;
  background-image:
    image-set(
      url("../../img/video-bg-mob@1x.webp") type("image/webp") 1x,
      url("../../img/video-bg-mob@2x.webp") type("image/webp") 2x,
      url("../../img/video-bg-mob@1x.jpg") type("image/jpg") 1x,
      url("../../img/video-bg-mob@2x.jpg") type("image/jpg") 2x
    );

  @media (min-width: $tablet) {
    position: absolute;
    bottom: 35px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
    width: 270px;
    background-image:
      image-set(
        url("../../img/video-bg-tab@1x.webp") type("image/webp") 1x,
        url("../../img/video-bg-tab@2x.webp") type("image/webp") 2x,
        url("../../img/video-bg-tab@1x.jpg") type("image/jpg") 1x,
        url("../../img/video-bg-tab@2x.jpg") type("image/jpg") 2x
      );
  }

  @media (min-width: $desctop) {
    width: 360px;
    height: 230px;
    bottom: 125px;
    background-image:
      image-set(
        url("../../img/video-bg-desc@1x.webp") type("image/webp") 1x,
        url("../../img/video-bg-desc@2x.webp") type("image/webp") 2x,
        url("../../img/video-bg-desc@1x.jpg") type("image/jpg") 1x,
        url("../../img/video-bg-desc@2x.jpg") type("image/jpg") 2x
      );
  }
}

.about__video-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: none;
  background: linear-gradient(151deg, #ed0233 0%, #003eb7 100%);
  cursor: pointer;

  &::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    width: 72px;
    height: 72px;
    background-color: transparent;
    border: 2px solid $accent-bg;
    opacity: 0.2;
    border-radius: 50%;
  }

  &::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 53%;
    transform: translate(-50%, -50%);
    width: 12px;
    height: 12px;
    mask-image: url("/__spritemap#sprite-triangle-button-view");
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: #ffffff;
  }

  @media (min-width: $desctop) {
    width: 72px;
    height: 72px;

    &::before {
      width: 100px;
      height: 100px;
    }

    &::after {
      width: 17px;
      height: 17px;
    }
  }
}
