.about__video {
  position: relative;
  width: 320px;
  height: 170px;
  background-image:
    image-set(
      url("../../img/video-bg@1x.webp") type("image/webp") 1x,
      url("../../img/video-bg@2x.webp") type("image/webp") 2x,
      url("../../img/video-bg@1x.jpg") type("image/jpg") 1x,
      url("../../img/video-bg@2x.jpg") type("image/jpg") 2x
    );

  @media (min-width: $tablet) {
    width: 270px;
  }

  @media (min-width: $desctop) {
    width: 360px;
    height: 230px;
  }
}

.about__video-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: none;
  background: linear-gradient(151deg, #ed0233 0%, #003eb7 100%);
  cursor: pointer;
}
