.button {
  display: block;
  font-family: $roboto-condensed-bold;
  font-weight: 700;
  font-size: 12px;
  line-height: 100%;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: transparent;
  padding: 22px;
  border: 2px solid #ffffff;
  cursor: pointer;
  text-decoration: none;

  &--secondary {
    color: #102654;
    border: 2px solid #102654;
    padding: 25px;
  }
}
