.card {
  width: 290px;
  box-sizing: border-box;
  min-height: 384px;
  padding: 50px 42px;
  background-color: #ffffff;

  @media (min-width: $tablet) {
    width: 380px;
    padding: 65px;
  }

  @media (min-width: $desctop) {
    width: 360px;
  }
}

.card__title {
  font-family: $roboto-condensed-bold;
  font-weight: 700;
  font-size: 22px;
  line-height: 100%;
  margin: 0 0 18px;

  @media (min-width: $tablet) {
    font-size: 24px;
    margin: 0 0 22px;
  }

  @media (min-width: $desctop) {
    font-size: 26px;
    margin: 0 0 17px;
  }
}

.card__subtitle {
  margin: 0 0 65px;

  @media (min-width: $tablet) {
    margin: 0 0 83px;
    font-size: 16px;
    line-height: 150%;
  }

  @media (min-width: $desctop) {
    margin: 0 0 78px;
  }
}

.card__price {
  position: relative;
  font-family: $roboto-condensed-bold;
  font-weight: 700;
  font-size: 48px;
  line-height: 150%;
  text-align: center;
  color: $price;
  z-index: 5;
  margin: 0 0 18px;

  &::after {
    position: absolute;
    content: attr(data-price);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 206px;
    height: 120px;
    font-family: $roboto-condensed-bold;
    font-weight: 700;
    font-size: 80px;
    line-height: 150%;
    text-align: center;
    color: $price-shadow;
    z-index: -1;
    opacity: 0.48;
  }

  @media (min-width: $tablet) {
    font-size: 60px;
    line-height: 150%;
    margin: 0 0 21px;

    &::after {
      font-size: 100px;
      width: 250px;
      height: 150px;
    }
  }

  @media (min-width: $desctop) {
    margin: 0 0 16px;
  }
}

.card__price-span {
  color: #102654;
}

.card__rubles {
  display: inline-block;
  width: 24px;
  height: 33px;
  background-image: url("/__spritemap#sprite-icon-ruble-view");
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 10px;

  @media (min-width: $tablet) {
    width: 30px;
    height: 42px;
    margin-left: 15px;
  }
}
