.contacts__wrapper {
  margin: 0 auto;
  padding: 36px 15px 40px;

  @media (min-width: $tablet) {
    padding: 60px 45px;
  }

  @media (min-width: $desctop) {
    padding: 60px 103px;
  }
}

.contacts__title {
  margin: 0 0 38px;

  @media (min-width: $tablet) {
    text-align: center;
    font-size: 54px;
    margin: 0 0 36px;
  }

  @media (min-width: $desctop) {
    text-align: start;
  }
}

.contacts__content {
  display: flex;
  flex-direction: column;
  gap: 27px;

  @media (min-width: $tablet) {
    flex-direction: row;
    justify-content: center;
    gap: 60px;
  }

  @media (min-width: $desctop) {
    gap: 120px;
  }
}

.contacts__address {
  display: flex;
  flex-direction: column;
  gap: 26px;
  font-style: normal;

  @media (min-width: $tablet) {
    width: 190px;
    gap: 15px;
  }
}

.contacts__address:first-child {
  @media (min-width: $tablet) {
    position: relative;

    &::after {
      position: absolute;
      content: "";
      top: 0;
      right: -31px;
      width: 1px;
      height: 100%;
      background-color: $divider;
    }
  }

  @media (min-width: $desctop) {
    &::after {
      right: -61px;
    }
  }
}

.contacts__subtitle {
  font-family: $roboto-condensed-regular;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  margin: 0 0 12px;

  @media (min-width: $tablet) {
    font-size: 24px;
    margin: 0 0 5px;
  }
}

.contacts__desc {
  font-family: $roboto-condensed-regular;
  font-weight: 400;
  margin: 0;

  @media (min-width: $tablet) {
    font-size: 14px;
    line-height: 157%;
  }
}

.contacts__tel,
.contscts__mail {
  display: block;
  font-family: $roboto-condensed-regular;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #102654;
  text-decoration: none;

  @media (min-width: $tablet) {
    line-height: 157%;
  }
}
