.faq {
  background-color: $primary-bg;
}

.faq__wrapper {
  padding: 70px 15px;
  margin: 0 auto;

  @media (min-width: $tablet) {
    padding: 60px 45px;
  }

  @media (min-width: $desctop) {
    padding: 100px 103px;
  }
}

.faq__title {
  text-align: center;
  margin: 0 0 35px;

  @media (min-width: $tablet) {
    margin: 0 0 45px;
  }

  @media (min-width: $desctop) {
    text-align: start;
    margin: 0 0 50px;
  }
}

.faq__content {
  display: flex;
  flex-direction: column;
  gap: 35px;

  @media (min-width: $tablet) {
    gap: 45px;
  }

  @media (min-width: $desctop) {
    display: grid;
    grid-template-columns: 260px 860px;
  }
}
