.faq {
  background-color: $primary-bg;
}

.faq__wrapper {
  padding: 71px 15px;
  margin: 0 auto;

  @media (min-width: $tablet) {
    padding: 60px 45px;
  }

  @media (min-width: $desctop) {
    max-width: 1366px;
    padding: 101px 103px 99px;
  }
}

.faq__title {
  text-align: center;
  margin: 0 0 34px;

  @media (min-width: $tablet) {
    margin: 0 0 45px;
  }

  @media (min-width: $desctop) {
    text-align: start;
    margin: 0 0 49px;
  }
}

.faq__content {
  display: flex;
  flex-direction: column;
  gap: 35px;

  @media (min-width: $tablet) {
    gap: 45px;
  }

  @media (min-width: $desctop) {
    display: grid;
    grid-template-columns: 260px 860px;
    gap: 40px;
  }
}
