.features {
  background-color: $primary-bg;
  text-align: center;
}

.features__wrapper {
  margin: 0 auto;
  padding: 40px 0;

  @media (min-width: $tablet) {
    padding: 60px 45px;
  }

  @media (min-width: $desctop) {
    padding: 100px 103px;
    max-width: 1366px;
  }
}

.features__title {
  margin: 0 0 40px;

  @media (min-width: $tablet) {
    margin: 0 0 50px;
  }
}

.features__list {
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: 324px 324px;
    justify-content: center;
    gap: 40px 30px;
  }

  @media (min-width: $desctop) {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 80px 40px;
  }
}

.features__item--coach .feature__text {
  @media (min-width: $desctop) {
    transform: translateX(2px);
  }
}
