.footer {
  background-color: $dark;
  color: #ffffff;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  gap: 29px;
  margin: 0 auto;
  padding: 40px 15px;

  @media (min-width: $tablet) {
    padding: 45px;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    align-items: flex-start;
  }

  @media (min-width: $desctop) {
    max-width: 1366px;
    padding: 40px 103px;
  }
}

.footer__logo {
  display: block;
}

.footer__social {
  margin: -1px 0 0;

  @media (min-width: $tablet) {
    margin: 0;
  }
}
