.form {
  background-color: #102654;
  color: #ffffff;
}

.form__wrapper {
  margin: 0 auto;
  padding: 70px 15px;

  @media (min-width: $tablet) {
    padding: 60px 164px;
  }
}

.form__title {
  margin: 0 0 36px;

  @media (min-width: $tablet) {
    text-align: center;
  }
}

.form__content {
  display: flex;
  flex-direction: column;
  gap: 36px;

  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 36px 30px;
  }
}

.form__input {
  font-family: $roboto-condensed-regular;
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  color: #ffffff;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);

  &::placeholder {
    font-family: $roboto-condensed-light;
    font-weight: 300;
    opacity: 0.4;
  }

  @media (min-width: $tablet) {
    font-family: $roboto-condensed-regular;
    font-weight: 400;

    &::placeholder {
      font-family: $roboto-condensed-regular;
      font-weight: 400;
    }
  }
}

.form__button {
  @media (min-width: $tablet) {
    grid-column: 1/3;
  }
}
