.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 16px 0;

  @media (min-width: $tablet) {
    padding: 31px 0 25px;
  }
}

.header__phone {
  font-family: $roboto-condensed-bold;
  font-weight: 700;
  font-size: 22px;
  line-height: 100%;
  color: #ffffff;
  text-decoration: none;
  margin-top: -2px;

  @media (min-width: $tablet) {
    font-size: 24px;
    margin-top: 0;
  }

  @media (min-width: $desctop) {
    font-size: 26px;
  }
}
