.juri {
  text-align: center;
}

.juri__wrapper {
  margin: 0 auto;
  padding: 40px 30px;
  overflow: hidden;

  @media (min-width: $tablet) {
    padding: 30px 104px 60px;
    overflow: visible;
  }

  @media (min-width: $desctop) {
    max-width: 1366px;
    padding: 100px 103px;
  }
}

.juri__title {
  margin-bottom: 20px;

  @media (min-width: $tablet) {
    margin-bottom: 46px;
    font-size: 54px;
  }
}

.juri__slider {
  @media (min-width: $tablet) {
    position: relative;
  }
}

.juri__slider-wrapper {
  @media (min-width: $tablet) {
    overflow: hidden;
  }
}

.juri__list {
  display: flex;
  height: 300px;
  color: #ffffff;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet) {
    height: 300px;
  }
}
