.juri {
  text-align: center;
}

.juri__wrapper {
  margin: 0 auto;
  padding: 40px 30px;
  overflow: hidden;

  @media (min-width: $tablet) {
    margin: 30px 104px 60px;
    padding: 0;
    overflow: visible;
  }

  @media (min-width: $desctop) {
    margin: 100px 103px;
  }
}

.juri__title {
  margin-bottom: 20px;

  @media (min-width: $tablet) {
    margin-bottom: 46px;
    font-size: 54px;
  }
}

.juri__slider {
  @media (min-width: $tablet) {
    position: relative;
  }
}

.juri__slider-wrapper {
  @media (min-width: $tablet) {
    overflow: hidden;
  }
}

.juri__button {
  display: none;
  width: 34px;
  height: 34px;
  border: none;
  background-color: #102654;
  mask-image: url("/__spritemap#sprite-slider-arrow-view");
  cursor: pointer;

  @media (min-width: $tablet) {
    position: absolute;
    top: 50%;
    left: -62px;
    transform: translateY(-50%) rotate(180deg);
    display: block;
  }

  @media (min-width: $desctop) {
    left: -61px;
    transform: translateY(-59%) rotate(180deg);
  }
}

.juri__button--next {
  transform: rotate(180deg);

  @media (min-width: $tablet) {
    left: auto;
    right: -62px;
    transform: translateY(-50%);
  }

  @media (min-width: $desctop) {
    right: -63px;
    transform: translateY(-59%);
  }
}

.juri__list {
  display: flex;
  gap: 40px;
  height: 300px;
  color: #ffffff;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet) {
    height: 300px;
  }
}
