.link {
  display: inline-block;
  font-family: $roboto-condensed-bold;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  text-transform: uppercase;
  color: #ffffff;
  text-underline-offset: 7px;
  padding: 4px;
  transition: all 0.2s ease;

  &:hover {
    opacity: 0.8;
  }

  &:focus {
    outline: 1px solid #ffffff;
    outline-offset: 10px;
    text-decoration: none;
  }

  &:active {
    opacity: 1;
    text-decoration: underline;
    outline: none;
  }

  &--secondary {
    color: $btn-border;

    &:hover {
      opacity: 0.8;
    }

    &:focus {
      outline: 1px solid $btn-border;
      outline-offset: 10px;
      text-decoration: none;
    }

    &:active {
      opacity: 1;
      text-decoration: underline;
      outline: none;
    }
  }

  &--disabled {
    opacity: 0.3;
    cursor: default;

    &:hover,
    &:focus {
      color: #ffffff;
      opacity: 0.3;
      outline: none;
      text-decoration: underline;
    }
  }

  &--secondary.link--disabled {
    opacity: 0.3;
    cursor: default;

    &:hover,
    &:focus {
      color: $btn-border;
      opacity: 0.3;
      outline: none;
      text-decoration: underline;
    }
  }

  @media (min-width: $tablet) {
    padding: 0;
  }
}

