.nav__list {
  display: flex;
  flex-wrap: wrap;
  gap: 18px 36px;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet) {
    gap: 30px;
    margin-top: -1px;
  }

  @media (min-width: $desctop) {
    gap: 82px;
    margin-top: -3px;
  }
}

.nav__link {
  font-family: $roboto-condensed-regular;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #ffffff;
  text-decoration: none;

  @media (min-width: $tablet) {
    line-height: 157%;
  }
}
