.nav__list {
  display: flex;
  flex-wrap: wrap;
  gap: 18px 36px;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet) {
    transform: translateY(-1px);
    gap: 31px;
    margin-top: -1px;
  }

  @media (min-width: $desctop) {
    transform: translateY(0) translateX(-1px);
    gap: 83px;
    margin-top: -1px;
  }
}

.nav__item:nth-child(1),
.nav__item:nth-child(2),
.nav__item:nth-child(3) {
  @media (min-width: $desctop) {
    transform: translateX(1px);
  }
}

.nav__link {
  position: relative;
  font-family: $roboto-condensed-regular;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #ffffff;
  text-decoration: none;

  &::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -5px;
    height: 1px;
    width: 100%;
    background-color: transparent;
  }

  &:hover {
    color: #ffffff;
  }

  &:hover::after {
    background-color: #ffffff;
  }

  &:focus {
    color: #ffffff;
    outline: 1px solid #ffffff;
    outline-offset: 8px;
  }

  &:focus::after {
    display: none;
  }

  &:active {
    color: #ffffff;
    outline: none;
  }

  &:active::after {
    display: none;
  }

  &--disabled,
  &--disabled:hover,
  &--disabled:focus,
  &--disabled:active {
    color: #ffffff;
    opacity: 0.4;
  }

  &--disabled::after {
    display: none;
  }

  @media (min-width: $tablet) {
    line-height: 157%;
  }
}
