.offers {
  text-align: center;

  @media (min-width: $tablet) {
    text-align: left;
  }
}

.offers__wrapper {
  padding: 40px 0;
  margin: 0 auto;

  @media (min-width: $tablet) {
    padding: 60px 45px;
  }

  @media (min-width: $desctop) {
    max-width: 1366px;
    padding: 100px 103px;
  }
}

.offers__title {
  margin: 0 0 40px;

  @media (min-width: $tablet) {
    text-align: center;
    margin: 0 0 35px;
  }

  @media (min-width: $desctop) {
    margin: 0 0 70px;
  }
}

.offers__content-wrapper {
  @media (min-width: $desctop) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: flex-end;
  }
}

.offers__main {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;

  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: 278px 400px;
    margin-bottom: 35px;
  }

  @media (min-width: $desctop) {
    grid-template-columns: 280px 280px;
    margin-bottom: 0;
  }
}

.offers__main-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: $play-btn;
  color: #ffffff;
  min-height: 271px;
  padding: 29px 30px 31px;

  @media (min-width: $tablet) {
    align-items: flex-start;
    gap: 133px;
    width: 278px;
    position: relative;
    min-height: 402px;
    padding: 40px 25px 45px;
  }

  @media (min-width: $desctop) {
    gap: 130px;
    width: 280px;
    min-height: 400px;
    padding: 40px 45px 44px;
  }
}

.offers__main-content h3 {
  font-family: $roboto-condensed-bold;
  font-weight: 700;
  font-size: 22px;
  line-height: 100%;
  margin: 1px 0 10px;

  @media (min-width: $tablet) {
    font-size: 24px;
    margin: 0 0 20px;
  }

  @media (min-width: $desctop) {
    font-size: 26px;
  }
}

.offers__main-content span {
  display: block;
  font-family: $roboto-condensed-bold;
  font-weight: 700;
  font-size: 64px;
  line-height: 100%;
  margin: -1px 0 28px;

  @media (min-width: $tablet) {
    font-size: 70px;
    margin: 0 0 40px;
  }
}

.offers__main-content p {
  font-size: 16px;
  line-height: 125%;
  margin: 0 0 25px;

  @media (min-width: $tablet) {
    font-size: 18px;
    line-height: 133%;
    width: 228px;
    margin: 0 0 28px;
  }
}

.offers__image {
  width: 320px;
  height: 360px;
  background:
    image-set(
      url("../../img/offers-mob@1x.webp") type("image/webp") 1x,
      url("../../img/offers-mob@2x.webp") type("image/webp") 2x,
      url("../../img/offers-mob@1x.jpg") type("image/jpg") 1x,
      url("../../img/offers-mob@2x.jpg") type("image/jpg") 2x
    );

  @media (min-width: $tablet) {
    width: auto;
    height: auto;
    background:
      image-set(
        url("../../img/offers-tab@1x.webp") type("image/webp") 1x,
        url("../../img/offers-tab@2x.webp") type("image/webp") 2x,
        url("../../img/offers-tab@1x.jpg") type("image/jpg") 1x,
        url("../../img/offers-tab@2x.jpg") type("image/jpg") 2x
      );
  }

  @media (min-width: $desctop) {
    background:
      image-set(
        url("../../img/offers-desc@1x.webp") type("image/webp") 1x,
        url("../../img/offers-desc@2x.webp") type("image/webp") 2x,
        url("../../img/offers-desc@1x.jpg") type("image/jpg") 1x,
        url("../../img/offers-desc@2x.jpg") type("image/jpg") 2x
      );
  }
}

.offers__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: $btn-border;
  margin: 0;
  padding: 0 15px;
  list-style: none;

  @media (min-width: $tablet) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0;
  }

  @media (min-width: $desctop) {
    flex-direction: column;
  }
}

.offers__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
  position: relative;
  padding: 21px 20px;
  border: 7px solid transparent;
  background-color: #ffffff;
  background-clip: padding-box;

  &::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(151deg, #ed0233 0%, #003eb7 100%);
    z-index: -1;
    margin: -7px;
  }

  @media (min-width: $tablet) {
    align-items: flex-start;
    box-sizing: border-box;
    gap: 30px;
    position: relative;
    width: 324px;
    padding: 21px 20px 26px;
  }

  @media (min-width: $desctop) {
    gap: 40px;
    width: auto;
  }
}

.offers__item h3 {
  font-family: $roboto-condensed-bold;
  font-weight: 700;
  font-size: 22px;
  line-height: 100%;
  margin: 0 0 20px;

  @media (min-width: $tablet) {
    font-size: 26px;
    margin: 0 0 9px;
  }
}

.offers__item p {
  margin: 0;

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 150%;
  }
}
