.page {
  height: 100%;
  scroll-behavior: smooth;
}

.page__body {
  display: flex;
  flex-direction: column;
  font-family: $roboto-condensed-light;
  font-weight: 300;
  font-size: 14px;
  line-height: 157%;
  color: #102654;
  background-color: #ffffff;
  margin: 0 auto;
  min-height: 100vh;
  min-width: 320px;
}
