.reviews {
  text-align: center;
}

.reviews__wrapper {
  margin: 0 auto;
  padding: 41px 40px 39px;
  overflow: hidden;

  @media (min-width: $tablet) {
    padding: 60px 20px;
  }

  @media (min-width: $desctop) {
    max-width: 1366px;
    padding: 100px 250px;
  }
}

.reviews__title {
  margin: 0 0 39px;

  @media (min-width: $tablet) {
    margin: 0 0 35px;
    font-size: 54px;
  }

  @media (min-width: $desctop) {
    margin: 0 0 75px;
  }
}

.reviews__button.slider-button--prev {
  @media (min-width: $tablet) {
    left: 33px;
  }

  @media (min-width: $desctop) {
    left: 32px;
    transform: translateY(-53%) rotate(180deg);
  }
}

.reviews__button.slider-button--next {
  @media (min-width: $tablet) {
    right: 8px;
  }

  @media (min-width: $tablet) {
    right: 32px;
    transform: translateY(-52%);
  }
}

.reviews__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.reviews__item {
  box-sizing: border-box;
  box-shadow: 0 0 40px 0 rgba(28, 51, 116, 0.2);
  background: $btn-border;
  color: #ffffff;
  padding: 30px 25px;

  @media (min-width: $tablet) {
    text-align: left;
    grid-template-columns: 80px 1fr;
    gap: 40px;
    padding: 40px 30px;
  }

  @media (min-width: $desctop) {
    padding: 60px;
    gap: 30px;
  }
}

.reviews__item img {
  display: block;
  margin: 0 auto 11px;

  @media (min-width: $tablet) {
    margin: 0;
  }
}

.reviews__item h3 {
  font-family: $roboto-condensed-regular;
  font-weight: 400;
  font-size: 18px;
  line-height: 111%;
  margin: 0 0 16px;

  @media (min-width: $tablet) {
    font-size: 22px;
    line-height: 100%;
    margin: 0 0 20px;
  }
}

.reviews__item p {
  margin: 0;
  width: 190px;

  @media (min-width: $tablet) {
    grid-column: 2/3;
    width: 320px;
  }

  @media (min-width: $desctop) {
    width: 330px;
  }
}

.reviews__slider-wrapper {
  position: relative;
}

.reviews__slider {
  width: 240px;
  margin: 0 auto;
  overflow: hidden;

  @media (min-width: $tablet) {
    grid-column: 2/3;
    width: 500px;
  }

  @media (min-width: $desctop) {
    width: 560px;
  }
}
