.reviews {
  text-align: center;
}

.reviews__wrapper {
  padding: 40px;
  overflow: hidden;

  @media (min-width: $tablet) {
    margin: 60px 20px;
    padding: 0;
  }

  @media (min-width: $desctop) {
    margin: 100px 250px;
  }
}

.reviews__title {
  margin: 0 0 40px;

  @media (min-width: $tablet) {
    margin: 0 0 35px;
    font-size: 54px;
  }

  @media (min-width: $desctop) {
    margin: 0 0 75px;
  }
}

// .reviews__button {
//   display: none;
//   width: 35px;
//   height: 35px;
//   border: none;
//   background-color: #102654;
//   mask-image: url("/__spritemap#sprite-slider-arrow-view");
//   cursor: pointer;

//   &--next {
//     transform: rotate(0);
//   }

//   &--disabled {
//     opacity: 0.3;
//   }

//   @media (min-width: $tablet) {
//     display: block;
//     position: absolute;
//     top: 50%;
//     left: -8px;
//     transform: translateY(-50%) rotate(180deg);

//     &--next {
//       transform: translateY(-50%) rotate(0);
//       left: auto;
//       right: -8px;
//     }
//   }
// }

.reviews__button.slider-button--prev {
  @media (min-width: $tablet) {
    left: 33px;
  }

  @media (min-width: $desctop) {
    left: 32px;
    transform: translateY(-53%) rotate(180deg);
  }
}

.reviews__button.slider-button--next {
  @media (min-width: $tablet) {
    right: 8px;
  }

  @media (min-width: $tablet) {
    right: 32px;
    transform: translateY(-52%);
  }
}

.reviews__list {
  display: flex;
  // gap: 40px;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet) {
    // margin: 0 114px;
    // gap: 200px;
  }

  @media (min-width: $desctop) {
    // margin: 0 153px;
  }
}

.reviews__item {
  // width: 240px;
  box-sizing: border-box;
  box-shadow: 0 0 40px 0 rgba(28, 51, 116, 0.2);
  background: $btn-border;
  color: #ffffff;
  padding: 30px 25px;

  @media (min-width: $tablet) {
    text-align: left;
    display: grid !important;
    grid-template-columns: 80px 1fr;
    gap: 40px;
    // min-width: 440px;
    padding: 40px 30px;
  }

  @media (min-width: $desctop) {
    padding: 60px;
    gap: 30px;
  }
}

.reviews__item img {
  display: block;
  margin: 0 auto 10px;

  @media (min-width: $tablet) {
    margin: 0;
  }
}

.reviews__item h3 {
  font-family: $roboto-condensed-regular;
  font-weight: 400;
  font-size: 18px;
  line-height: 111%;
  margin: 0 0 16px;

  @media (min-width: $tablet) {
    font-size: 22px;
    line-height: 100%;
    margin: 0 0 20px;
  }
}

.reviews__item p {
  margin: 0;
  width: 190px;

  @media (min-width: $tablet) {
    grid-column: 2/3;
    width: 320px;
  }

  @media (min-width: $desctop) {
    width: 330px;
  }
}

.reviews__slider-wrapper {
  position: relative;
}

.review__slider {
  width: 240px;
  margin: 0 auto;
  overflow: hidden;

  @media (min-width: $tablet) {
    grid-column: 2/3;
    width: 500px;
  }

  @media (min-width: $desctop) {
    width: 560px;
  }
}
