.social {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet) {
    gap: 15px;
  }

  @media (min-width: $desctop) {
    gap: 10px;
  }
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #ffffff;
  transition: all 0.2s ease;

  &:hover {
    background: $divider;
  }

  &:hover svg path {
    fill: #ffffff;
  }

  &:focus {
    background: $price;
    outline: none;
  }

  &:focus svg path {
    fill: #ffffff;
  }

  &:active {
    background: #102654;
  }

  &:active svg path {
    fill: #ffffff;
  }

  &--disabled {
    background-color: #ffffff;
    opacity: 0.3;

    &:hover,
    &:focus,
    &:active {
      background-color: #ffffff;
      opacity: 0.3;
      outline: none;
    }
  }

  &--disabled svg path {
    fill: $dark;
  }
}

.social__link--vk svg {
  @media (min-width: $tablet) {
    transform: translateY(1px);
  }
}

.social__link--rd svg {
  @media (min-width: $tablet) {
    transform: translateY(-1px);
  }

  @media (min-width: $desctop) {
    transform: translateY(0);
  }
}
