$divider: #74819c;
$play-btn: #ed0233;
$light: rgba(16, 38, 84, 0.5);
$accent-bg: #ed0233;
$btn-border: #1c3374;
$tab-border: rgba(16, 38, 84, 0.2);
$primary-bg: #f8f9fc;
$price: #103aae;
$price-shadow: #e8e8e8;
$desc: #2e35ac;
$secondary: #1c3374;
$dark: #030a1a;
$roboto-condensed-light: "roboto-condensed-light", "Arial", sans-serif;
$roboto-condensed-regular: "roboto-condensed-regular", "Arial", sans-serif;
$roboto-condensed-medium: "roboto-condensed-medium", "Arial", sans-serif;
$roboto-condensed-bold: "roboto-condensed-bold", "Arial", sans-serif;
$alumni-sans-semibold: "alumni-sans-semibold", "Arial", sans-serif;
$alumni-sans-extrabold: "alumni-sans-extrabold", "Arial", sans-serif;
$mobile: 320px;
$tablet: 768px;
$desctop: 1366px;
